<h1><%= @billboard.title %></h1>
<h4>Click an artist to view more of their music</h4>
<p><%= link_to 'Add a new artist', new_billboard_artist_path(@billboard) %></p>
<ul>
  <% @artists.each do |artist| %>
    <li>
      <%= link_to artist.artist_name, [@billboard, artist] %>  
    </li>
  <% end %>
</ul>
