<h1>Click an artist to view more of their music</h1>
<p><%= link_to 'Add a new artist', new_billboard_artist_path(@billboard) %></p>
<ul>
  <% @artists.each do |artist| %>
    <li><%= link_to artist.name, [@billboard, artist] %></li>
  <% end %>
</ul>
