<h1><% @artist.name %></h1>
<p><%= @artist.song_name %></p>
<%= link_to 'Add A Song', new_billboard_artist_path(@billboard) %>
<%= link_to 'Remove A Song', artists_song_path, method: :delete %>
<%= link_to 'Back To Billboard', billboard_path %>
