<h1>Billboard Hot 100</h1>
<%= link_to 'Create a new billboard', new_billboard_path %>
<ul>
  <% @billboards.each do |billboard| %>
    <li><%= link_to billboard.title, billboard %></li>
  <% end %>
</ul>
